<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>574050240889-rtt0a39rnpdo7letav3qh1t0mi83jdhn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.574050240889-rtt0a39rnpdo7letav3qh1t0mi83jdhn</string>
	<key>API_KEY</key>
	<string>AIzaSyAdoFfihYvbzpGO1KC--MFPBY2awNIPgIk</string>
	<key>GCM_SENDER_ID</key>
	<string>574050240889</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.spirosgerokostas.Tinylog</string>
	<key>PROJECT_ID</key>
	<string>tinylog-e193f</string>
	<key>STORAGE_BUCKET</key>
	<string>tinylog-e193f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:574050240889:ios:bacfb983ea124710</string>
	<key>DATABASE_URL</key>
	<string>https://tinylog-e193f.firebaseio.com</string>
</dict>
</plist>