<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>622704866197-1afo3mh3gqtngulqsl20ubr2u9hc7bmn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.622704866197-1afo3mh3gqtngulqsl20ubr2u9hc7bmn</string>
	<key>API_KEY</key>
	<string>AIzaSyD6zkZs0Rlrl8UjUAS2NFF37II2xlC2RP8</string>
	<key>GCM_SENDER_ID</key>
	<string>622704866197</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.spirosgerokostas.Tinylog</string>
	<key>PROJECT_ID</key>
	<string>tinylog-13da8</string>
	<key>STORAGE_BUCKET</key>
	<string>tinylog-13da8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:622704866197:ios:ba815a9b463f25bb98fc9c</string>
	<key>DATABASE_URL</key>
	<string>https://tinylog-13da8.firebaseio.com</string>
</dict>
</plist>